{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls_static/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% load static %}
        <img src="{% static 'polls_static/placeholder.jpg' %}" alt="My image">
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}